:root {
  --black: #000000;
  --green: #0C5F08;
  --linearGreen: linear-gradient(180deg, #6AFFFB 0%, #56B851 90.1%, #41A03C 100%);
  --Blinker: 'Blinker', sans-serif: ; }

body {
  font-family: 'Blinker', sans-serif;
  background: #ffc83c;
  background: linear-gradient(0deg, #ffc83c 0%, #fffbe4 75%); }

.mainWrapper {
  display: flex;
  width: 100%;
  background: url(../img/skyline-footer1.png) repeat-x;
  background-position: bottom;
  position: relative;
  flex-direction: column;
  padding-bottom: 120px;
  min-height: 100vh; }
  .mainWrapper:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background: url(../img/top-bar.png) repeat-x;
    width: 100%;
    height: 21px; }
  .mainWrapper.pad0 {
    padding: 0 !important; }

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.generalGreenBtn {
  background: linear-gradient(180deg, #9DEFED 0%, #99EDA1 89.06%, #56B851 100%);
  border-radius: 20px;
  font-family: var(--Blinker);
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black);
  padding: 7px 25px;
  border: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center; }

.navbar-toggler {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative;
  top: 5px; }
  .navbar-toggler:focus {
    outline: 0;
    box-shadow: 0 0 0; }
  .navbar-toggler:focus-visible {
    outline: 0;
    box-shadow: 0 0 0; }
  .navbar-toggler:hover {
    outline: 0;
    box-shadow: 0 0 0; }
  .navbar-toggler:active {
    outline: 0;
    box-shadow: 0 0 0; }
  .navbar-toggler .navbar-toggler-icon {
    background: url(../img/hamburger-icon.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    background-size: cover; }

.mautoBtn {
  margin: 15px auto 0; }

.topHeader {
  background: url(../img/top-bar.png);
  background-repeat: repeat-x;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 78px;
  z-index: 9; }
  .topHeader .insideHeader {
    background: #ffc83c;
    background: linear-gradient(0deg, #ffc83c 0%, #fffbe4 75%);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 21px 0 0 0;
    padding: 10px 0; }
  .topHeader .container .navbar {
    padding: 0; }
    .topHeader .container .navbar .navbar-brand {
      max-width: 320px;
      padding: 0; }
      .topHeader .container .navbar .navbar-brand img {
        width: 100%;
        height: 36px; }
    .topHeader .container .navbar .navbar-collapse {
      justify-content: flex-end; }
      .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item {
        position: relative; }
        .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          font-family: var(--Blinker);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: var(--black); }
          .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
            border: 0; }
          .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            color: #0C5F08;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
          .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.activeLink {
            color: #0C5F08;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
        .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
          background: rgba(255, 219, 123, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          margin: 10px 0 0 0;
          padding: 0; }
          .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li {
            border-bottom: 1px solid var(--black); }
            .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
              font-family: var(--Blinker);
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              text-align: left;
              color: var(--black);
              padding: 5px 12px; }
              .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover {
                background: none;
                color: #0C5F08;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
              .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item:active {
                background: none; }
              .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item:focus {
                background: none; }
            .topHeader .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li:last-child {
              border-bottom: 0; }

.homeContainerWithImg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 78px);
  position: relative;
  bottom: 0;
  justify-content: flex-end; }
  .homeContainerWithImg .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end; }
    .homeContainerWithImg .container .homeleftSide {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      height: 100%; }
      .homeContainerWithImg .container .homeleftSide .homeInsideLeftSide {
        position: absolute;
        bottom: 0;
        width: 100%; }
      .homeContainerWithImg .container .homeleftSide img {
        width: 100%; }
    .homeContainerWithImg .container .homeRightSide {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 180px; }
      .homeContainerWithImg .container .homeRightSide h2 {
        font-family: var(--Blinker);
        margin: 0 0 15px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 90px; }
      .homeContainerWithImg .container .homeRightSide h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;
        margin: 0 0 35px 0;
        color: #0C5F08;
        font-family: var(--Blinker); }
      .homeContainerWithImg .container .homeRightSide .buyNowHomeBtn {
        background: linear-gradient(180deg, #9DEFED 0%, #99EDA1 89.06%, #56B851 100%);
        border-radius: 20px;
        font-family: var(--Blinker);
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--black);
        padding: 7px 25px;
        border: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration: none; }

.aboutContainerWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  padding: 40px 0 0 0; }

.splitMainHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
  font-family: var(--Blinker);
  color: #000000; }
  .splitMainHeading span {
    background: linear-gradient(180deg, #6AFFFB 0%, #56B851 90.1%, #41A03C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; }

.aboutToggleWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 45px; }
  .aboutToggleWrap .aboutToggle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: url(../img/about-us-accord-line.png) repeat-x;
    background-position: bottom;
    padding-bottom: 8px;
    position: relative; }
    .aboutToggleWrap .aboutToggle .insideAboutToggle {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-content: center; }
      .aboutToggleWrap .aboutToggle .insideAboutToggle .aboutLeftToggle {
        width: 25%; }
        .aboutToggleWrap .aboutToggle .insideAboutToggle .aboutLeftToggle img {
          width: 100%; }
      .aboutToggleWrap .aboutToggle .insideAboutToggle .aboutRightToggle {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-bottom: 35px; }
        .aboutToggleWrap .aboutToggle .insideAboutToggle .aboutRightToggle p {
          font-family: var(--Blinker);
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 32px;
          color: #000000;
          margin-bottom: 0; }
  .aboutToggleWrap .aboutCollapseBody .card {
    background: rgba(231, 255, 233, 0.2);
    padding: 15px 0;
    box-shadow: 0 0 0;
    border: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .aboutToggleWrap .aboutCollapseBody .card .container {
      max-width: 90%;
      display: flex;
      flex-wrap: wrap; }
      .aboutToggleWrap .aboutCollapseBody .card .container .aboutCollpaseBox {
        width: 100%;
        display: flex;
        flex-wrap: wrap; }
        .aboutToggleWrap .aboutCollapseBody .card .container .aboutCollpaseBox .aboutCollapseBoxImg {
          width: 15%; }
          .aboutToggleWrap .aboutCollapseBody .card .container .aboutCollpaseBox .aboutCollapseBoxImg img {
            width: 100%; }
        .aboutToggleWrap .aboutCollapseBody .card .container .aboutCollpaseBox .aboutCollpaseBoxContent {
          width: 85%;
          padding-left: 50px; }
          .aboutToggleWrap .aboutCollapseBody .card .container .aboutCollpaseBox .aboutCollpaseBoxContent h5 {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #0C5F08;
            font-family: var(--Blinker);
            margin-bottom: 6px; }
          .aboutToggleWrap .aboutCollapseBody .card .container .aboutCollpaseBox .aboutCollpaseBoxContent p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            font-family: var(--Blinker);
            margin: 0; }

.aboutToggle[aria-expanded="false"]:after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  background: url(../img/arrow.png) no-repeat;
  background-size: cover; }

.aboutToggle[aria-expanded="true"]:after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  background: url(../img/arrow.png) no-repeat;
  background-size: cover;
  transform: rotate(180deg); }

.aboutTeamMembers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px; }
  .aboutTeamMembers .teamHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #0C5F08;
    margin: 0 0 35px 0;
    font-family: var(--Blinker); }
  .aboutTeamMembers .aboutTeamMemberBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 35px;
    align-items: center; }
    .aboutTeamMembers .aboutTeamMemberBox .teamMemberPic {
      width: 25%; }
      .aboutTeamMembers .aboutTeamMemberBox .teamMemberPic img {
        width: 100%; }
    .aboutTeamMembers .aboutTeamMemberBox .teamMemberIntroText {
      width: 75%;
      padding-left: 25px; }
      .aboutTeamMembers .aboutTeamMemberBox .teamMemberIntroText h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 35px;
        color: #000000;
        font-family: var(--Blinker);
        margin: 0; }
      .aboutTeamMembers .aboutTeamMemberBox .teamMemberIntroText p {
        font-family: var(--Blinker);
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #000000;
        margin: 0; }

.aboutFollow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px; }
  .aboutFollow .followHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #0C5F08;
    margin: 0 0 35px 0;
    font-family: var(--Blinker); }
  .aboutFollow ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .aboutFollow ul li {
      list-style: none;
      margin: 0 30px 0 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap; }
      .aboutFollow ul li a img {
        width: 100px; }
      .aboutFollow ul li:last-child {
        margin-right: 0; }

.roadMapContainerInitLine {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0 80px 0;
  align-items: center; }
  .roadMapContainerInitLine span {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000; }
    .roadMapContainerInitLine span span {
      color: #0C5F08;
      font-size: 26px; }
  .roadMapContainerInitLine .takeMeBtn {
    background: linear-gradient(180deg, #9DEFED 0%, #99EDA1 89.06%, #56B851 100%);
    border-radius: 20px;
    font-family: var(--Blinker);
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    border: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 16px;
    padding: 7px 25px;
    text-decoration: none; }

.roadMapCarouselContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 0px 0; }
  .roadMapCarouselContainer .owl-nav {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 1; }
    .roadMapCarouselContainer .owl-nav button.owl-prev {
      left: -75px;
      position: absolute;
      top: 10px;
      width: 50px;
      z-index: 9999;
      margin: 0; }
      .roadMapCarouselContainer .owl-nav button.owl-prev span {
        position: relative;
        color: transparent;
        text-indent: -3000px; }
        .roadMapCarouselContainer .owl-nav button.owl-prev span:before {
          content: '';
          background: url(../img/left-arrow.png) no-repeat;
          width: 21px;
          height: 150px;
          position: absolute; }
      .roadMapCarouselContainer .owl-nav button.owl-prev:hover {
        background: transparent; }
      .roadMapCarouselContainer .owl-nav button.owl-prev.disabled {
        display: none; }
    .roadMapCarouselContainer .owl-nav button.owl-next {
      right: -60px;
      position: absolute;
      top: 10px;
      width: 50px;
      z-index: 9999;
      margin: 0; }
      .roadMapCarouselContainer .owl-nav button.owl-next span {
        position: relative;
        color: transparent;
        text-indent: -3000px; }
        .roadMapCarouselContainer .owl-nav button.owl-next span:before {
          content: '';
          background: url(../img/right-arrow.png) no-repeat;
          width: 21px;
          height: 150px;
          position: absolute; }
      .roadMapCarouselContainer .owl-nav button.owl-next.disabled {
        display: none; }
      .roadMapCarouselContainer .owl-nav button.owl-next:hover {
        background: transparent; }

.roadMapCarouselBox {
  display: flex;
  flex-wrap: wrap;
  width: 265px;
  position: relative;
  height: 265px; }
  .roadMapCarouselBox.roadMap1Img {
    background: url(../img/road-map1.png) no-repeat; }
  .roadMapCarouselBox.roadMap2Img {
    background: url(../img/road-map2.png) no-repeat; }
  .roadMapCarouselBox.roadMap3Img {
    background: url(../img/road-map3.png) no-repeat; }
  .roadMapCarouselBox.roadMap4Img {
    background: url(../img/road-map4.png) no-repeat; }
  .roadMapCarouselBox.roadMap5Img {
    background: url(../img/road-map5.png) no-repeat; }
  .roadMapCarouselBox.roadMap6Img {
    background: url(../img/road-map1.png) no-repeat; }
  .roadMapCarouselBox.roadMap7Img {
    background: url(../img/road-map6.png) no-repeat; }
  .roadMapCarouselBox:hover:before {
    content: '';
    background: url(../img/border.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute; }
  .roadMapCarouselBox .showCarouselBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px; }
    .roadMapCarouselBox .showCarouselBox .tickImg {
      width: 35px;
      height: 35px;
      margin-bottom: 10px; }
    .roadMapCarouselBox .showCarouselBox h4 {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      font-family: var(--Blinker);
      margin: 0; }
    .roadMapCarouselBox .showCarouselBox h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      font-family: var(--Blinker);
      margin: 0; }
  .roadMapCarouselBox .hideCarouselBoxContent {
    display: none;
    align-items: center;
    justify-content: center; }
    .roadMapCarouselBox .hideCarouselBoxContent:before {
      content: '';
      background: url(../img/border.png) no-repeat;
      width: 100%;
      height: 100%;
      position: absolute; }
    .roadMapCarouselBox .hideCarouselBoxContent p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: var(--Blinker);
      color: #000000;
      padding: 30px 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0; }

.faqContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 25px auto 0; }
  .faqContainer .accordion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .faqContainer .accordion .accordion-item {
      border-radius: 0;
      background: transparent;
      margin-bottom: 8px;
      border: 0; }
      .faqContainer .accordion .accordion-item .accordion-header {
        border-radius: 0;
        background: transparent;
        border: 0; }
        .faqContainer .accordion .accordion-item .accordion-header .accordion-button {
          background: rgba(153, 237, 161, 0.47);
          border-radius: 20px;
          border: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          color: #000000;
          font-family: var(--Blinker);
          padding: 8px 18px; }
          .faqContainer .accordion .accordion-item .accordion-header .accordion-button:after {
            background: url(../img/arrow.png) no-repeat;
            border: 0;
            width: 25px;
            height: 25px;
            background-size: cover; }
          .faqContainer .accordion .accordion-item .accordion-header .accordion-button:focus {
            outline: 0;
            box-shadow: 0 0 0; }
          .faqContainer .accordion .accordion-item .accordion-header .accordion-button:focus-visible {
            outline: 0;
            box-shadow: 0 0 0; }
          .faqContainer .accordion .accordion-item .accordion-header .accordion-button:active {
            outline: 0;
            box-shadow: 0 0 0; }
      .faqContainer .accordion .accordion-item .accordion-collapse {
        background: rgba(231, 255, 233, 0.9);
        border-radius: 20px;
        padding: 18px; }
        .faqContainer .accordion .accordion-item .accordion-collapse .accordion-body {
          padding: 0; }
          .faqContainer .accordion .accordion-item .accordion-collapse .accordion-body p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 15px; }
          .faqContainer .accordion .accordion-item .accordion-collapse .accordion-body strong {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 20px;
            display: block; }
          .faqContainer .accordion .accordion-item .accordion-collapse .accordion-body ol li ol li {
            list-style: lower-alpha; }

.initContainer .topSmallHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #000000; }
.initContainer .initCollapseBoxWrap {
  padding-bottom: 20px; }
  .initContainer .initCollapseBoxWrap .initBoxToggle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0.45; }
    .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxMainImg {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative; }
      .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxMainImg img {
        width: 356px;
        height: 132px; }
    .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxText {
      background: linear-gradient(180deg, rgba(153, 237, 161, 0.47) 0%, rgba(153, 237, 161, 0.47) 100%);
      border-radius: 20px;
      margin: 3px 0 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center; }
      .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxText p {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        padding: 8px; }
    .initContainer .initCollapseBoxWrap .initBoxToggle:hover {
      opacity: 1; }
      .initContainer .initCollapseBoxWrap .initBoxToggle:hover .initBoxMainImg:before {
        background: url(../img/init-outline.png);
        content: '';
        position: absolute;
        width: 100%;
        height: 100%; }
  .initContainer .initCollapseBoxWrap .initBoxCollapseBody .card {
    background: rgba(231, 255, 233, 0.47);
    padding: 15px;
    box-shadow: 0 0 0;
    border: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 3px; }
    .initContainer .initCollapseBoxWrap .initBoxCollapseBody .card p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      margin: 0 0 15px 0; }

.initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="true"] {
  opacity: 1; }
  .initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="true"] .initBoxMainImg:before {
    background: url(../img/init-outline.png);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.warriorOverviewBoxesWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0 0 0; }
  .warriorOverviewBoxesWrap .row {
    width: 100%; }
  .warriorOverviewBoxesWrap .warriorOverviewSmallBox {
    display: flex;
    flex-wrap: wrap;
    width: 265px;
    height: 265px;
    align-items: center;
    justify-content: center;
    padding: 33px;
    position: relative;
    text-decoration: none; }
    .warriorOverviewBoxesWrap .warriorOverviewSmallBox.warriorOverviewBox1Img {
      background: url(../img/rarities-box1.png) no-repeat; }
    .warriorOverviewBoxesWrap .warriorOverviewSmallBox.warriorOverviewBox2Img {
      background: url(../img/rarities-box2.png) no-repeat; }
    .warriorOverviewBoxesWrap .warriorOverviewSmallBox:hover:before {
      content: '';
      background: url(../img/border.png) no-repeat;
      width: 100%;
      height: 100%;
      position: absolute; }
    .warriorOverviewBoxesWrap .warriorOverviewSmallBox h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      flex-direction: column;
      margin: 0; }
      .warriorOverviewBoxesWrap .warriorOverviewSmallBox h3 span {
        font-size: 20px;
        line-height: 26px;
        display: block; }

.attributeContainer .nav-pills .nav-link {
  background: rgba(153, 237, 161, 0.47);
  border-radius: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: var(--Blinker);
  margin-bottom: 6px;
  padding: 8px 0px;
  width: 100%;
  width: 220px;
  justify-content: center;
  position: relative; }
  .attributeContainer .nav-pills .nav-link:hover:before {
    background: url(../img/atr-outline.png);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute; }
  .attributeContainer .nav-pills .nav-link.active {
    background: #0C5F08;
    color: #fff; }
    .attributeContainer .nav-pills .nav-link.active:before {
      background: url(../img/atr-outline.png);
      width: 100%;
      height: 100%;
      content: '';
      position: absolute; }
.attributeContainer .tab-content {
  padding: 0 0 0 35px; }
  .attributeContainer .tab-content .tab-pane .atrImgWrap {
    width: 100%; }

.houseRankingsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .houseRankingsContainer .houseRankingFilter {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .houseRankingsContainer .houseRankingFilter .houseRankingTextField {
      background: rgba(231, 255, 233, 0.67);
      border: 1px solid #0C5F08;
      box-sizing: border-box;
      border-radius: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 6px 0;
      margin: 0 16px 0 0;
      color: rgba(12, 95, 8, 0.5);
      min-width: 460px; }
      .houseRankingsContainer .houseRankingFilter .houseRankingTextField::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(12, 95, 8, 0.5); }
      .houseRankingsContainer .houseRankingFilter .houseRankingTextField::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(12, 95, 8, 0.5); }
      .houseRankingsContainer .houseRankingFilter .houseRankingTextField:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(12, 95, 8, 0.5); }
      .houseRankingsContainer .houseRankingFilter .houseRankingTextField:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(12, 95, 8, 0.5); }
    .houseRankingsContainer .houseRankingFilter .generalGreenBtn {
      margin-right: 15px; }
  .houseRankingsContainer .houseRankingsBoxesWrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 35px auto;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .houseRankingsContainer .houseRankingsBoxesWrap .row {
      width: 100%; }
      .houseRankingsContainer .houseRankingsBoxesWrap .row .insideHouseRankingBox {
        margin-bottom: 15px; }
        .houseRankingsContainer .houseRankingsBoxesWrap .row .insideHouseRankingBox img {
          width: 100%; }
        .houseRankingsContainer .houseRankingsBoxesWrap .row .insideHouseRankingBox p {
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          color: #000000; }
        .houseRankingsContainer .houseRankingsBoxesWrap .row .insideHouseRankingBox span {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          color: #000000; }

.filterModal .modal-dialog {
  max-width: 600px; }
  .filterModal .modal-dialog .modal-content {
    border: 0;
    border-radius: 10px; }
    .filterModal .modal-dialog .modal-content .btn-close {
      border: 0;
      background: none;
      margin-left: auto;
      margin-top: 20px;
      margin-right: 25px;
      padding: 0; }
      .filterModal .modal-dialog .modal-content .btn-close:hover {
        outline: 0;
        box-shadow: 0 0 0; }
      .filterModal .modal-dialog .modal-content .btn-close:focus {
        outline: 0;
        box-shadow: 0 0 0; }
      .filterModal .modal-dialog .modal-content .btn-close:active {
        outline: 0;
        box-shadow: 0 0 0; }
      .filterModal .modal-dialog .modal-content .btn-close img {
        width: 20px; }
    .filterModal .modal-dialog .modal-content .modal-body {
      padding: 0; }
      .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 85%;
        margin: auto;
        padding: 20px 0; }
        .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap form {
          display: flex;
          flex-wrap: wrap;
          width: 100%; }
        .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 6px; }
          .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .leftToggleSelect {
            width: 43%;
            margin-right: 10px; }
            .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .leftToggleSelect .leftToggleAnchor {
              width: 100%;
              display: block;
              background: #C1E9C4;
              border-radius: 20px;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 26px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #000000;
              height: 36px;
              text-align: center;
              text-decoration: none;
              justify-content: center; }
          .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect {
            width: 55%; }
            .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion {
              width: 100%; }
              .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-item {
                border: 0;
                background: none;
                box-shadow: 0 0 0; }
              .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-header {
                width: 100%;
                border: 0;
                background: none;
                box-shadow: 0 0 0; }
                .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-header .accordion-button {
                  background: #E6F6E7;
                  border: 1px solid #0C5F08;
                  box-sizing: border-box;
                  border-radius: 20px;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 22px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  color: rgba(12, 95, 8, 0.5);
                  height: 36px;
                  width: 100%; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-header .accordion-button:hover {
                    outline: 0;
                    box-shadow: 0 0 0; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-header .accordion-button:focus {
                    outline: 0;
                    box-shadow: 0 0 0; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-header .accordion-button:active {
                    outline: 0;
                    box-shadow: 0 0 0; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-header .accordion-button span {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center; }
              .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordion-body {
                padding: 0; }
              .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap {
                padding: 0;
                margin: 0; }
                .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList {
                  background: #E6F6E7;
                  border-radius: 20px;
                  display: flex;
                  flex-wrap: wrap;
                  width: 100%;
                  align-items: center;
                  justify-content: center;
                  height: 36px;
                  position: relative;
                  /* Hide the browser's default checkbox */
                  /* Create a custom checkbox */
                  /* On mouse-over, add a grey background color */
                  /* When the checkbox is checked, add a blue background */
                  /* Create the checkmark/indicator (hidden when not checked) */
                  /* Show the checkmark when checked */
                  /* Style the checkmark/indicator */ }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList p {
                    display: flex;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #0C5F08;
                    margin: 0; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap {
                    display: block;
                    position: absolute;
                    padding-left: 0px;
                    margin-bottom: 19px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-left: auto;
                    width: 20px;
                    right: 20px; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    border: 3px solid #0C5F08; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap:hover input ~ .checkmark {
                    background-color: transparent; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap input:checked ~ .checkmark {
                    background-color: #fff; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap input:checked ~ .checkmark:after {
                    display: block; }
                  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect .accordion .accordionAttrWrap .accordionAttrList .customCheckBoxWrap .checkmark:after {
                    left: 2px;
                    top: 2px;
                    width: 8px;
                    height: 8px;
                    border: solid white;
                    border-width: 0;
                    -ms-transform: rotate(45deg);
                    background: #0C5F08; }

.rightToggleSelect .accordion-button[aria-expanded="false"]:after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 7px;
  width: 18px;
  height: 18px;
  background: url(../img/arrow.png) no-repeat;
  background-size: cover; }

.rightToggleSelect .accordion-button[aria-expanded="true"]:after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 7px;
  width: 18px;
  height: 18px;
  background: url(../img/arrow.png) no-repeat;
  background-size: cover;
  transform: rotate(180deg); }

@media (max-width: 480px) {
  .homeContainerWithImg .container {
    align-items: flex-start; }
    .homeContainerWithImg .container .homeleftSide {
      order: 2;
      width: 100%;
      padding-bottom: 0;
      height: auto;
      position: fixed;
      bottom: 0; }
      .homeContainerWithImg .container .homeleftSide .homeInsideLeftSide {
        width: 93%; }
    .homeContainerWithImg .container .homeRightSide {
      order: 1;
      width: 100%;
      padding-bottom: 0;
      padding-top: 20px; }
      .homeContainerWithImg .container .homeRightSide h2 {
        font-size: 44px;
        line-height: 45px; }
      .homeContainerWithImg .container .homeRightSide h4 {
        font-size: 20px;
        line-height: 28px; }

  .splitMainHeading {
    font-size: 44px;
    line-height: 45px; }

  .aboutToggleWrap .aboutToggle .insideAboutToggle .aboutRightToggle {
    padding-left: 15px;
    padding-right: 15px; }

  .aboutFollow ul li {
    list-style: none;
    margin: 0 30px 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }

  .aboutFollow ul li:last-child {
    margin-right: 30px; }

  .initContainer .initCollapseBoxWrap {
    max-width: 320px;
    margin: auto; }

  .initContainer .initCollapseBoxWrap .initBoxToggle:hover .initBoxMainImg:before {
    background-size: contain; }

  .initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="true"] .initBoxMainImg:before {
    background-size: contain; }

  .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxMainImg img {
    width: 100%;
    height: 118px; }

  .warriorOverviewBoxesWrap .warriorOverviewSmallBox {
    margin-bottom: 20px; }

  .roadMapContainerInitLine .takeMeBtn {
    margin-left: 0;
    margin-top: 20px; }

  .owl-carousel .owl-stage-outer {
    width: 265px !important;
    margin: auto; }

  .roadMapCarouselContainer .owl-nav button.owl-prev {
    left: -15px; }

  .roadMapCarouselContainer .owl-nav button.owl-next {
    right: 0; }

  .attributeContainer .d-flex {
    flex-direction: column; }

  .attributeContainer .nav-pills {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0; }

  .attributeContainer .nav-pills .nav-link {
    padding: 15px 0px;
    width: 300px; }

  .attributeContainer .nav-pills .nav-link.active:before {
    background-size: cover; }

  .attributeContainer .tab-content {
    padding: 25px 0 0 0; }

  .houseRankingsContainer .houseRankingFilter .houseRankingTextField {
    min-width: 100%;
    margin-bottom: 15px;
    margin-top: 15px; }

  .faqContainer {
    width: 90%; }

  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .leftToggleSelect {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px; }

  .filterModal .modal-dialog .modal-content .modal-body .filterSelectBoxMainWrap .filterSelectionBox .rightToggleSelect {
    width: 100%; } }
@media (min-width: 481px) and (max-width: 767px) {
  .homeContainerWithImg .container {
    align-items: flex-start; }
    .homeContainerWithImg .container .homeleftSide {
      order: 2;
      width: 100%;
      padding-bottom: 0;
      height: auto;
      position: fixed;
      bottom: 0; }
      .homeContainerWithImg .container .homeleftSide .homeInsideLeftSide {
        width: 93%; }
    .homeContainerWithImg .container .homeRightSide {
      order: 1;
      width: 100%;
      padding-bottom: 0;
      padding-top: 20px; }
      .homeContainerWithImg .container .homeRightSide h2 {
        font-size: 44px;
        line-height: 45px; }
      .homeContainerWithImg .container .homeRightSide h4 {
        font-size: 20px;
        line-height: 28px; }

  .splitMainHeading {
    font-size: 44px;
    line-height: 45px; }

  .aboutToggleWrap .aboutToggle .insideAboutToggle .aboutRightToggle {
    padding-left: 15px;
    padding-right: 15px; }

  .aboutFollow ul li {
    list-style: none;
    margin: 0 30px 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }

  .aboutFollow ul li:last-child {
    margin-right: 30px; }

  .initContainer .initCollapseBoxWrap {
    max-width: 320px;
    margin: auto; }

  .initContainer .initCollapseBoxWrap .initBoxToggle:hover .initBoxMainImg:before {
    background-size: contain; }

  .initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="true"] .initBoxMainImg:before {
    background-size: contain; }

  .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxMainImg img {
    width: 100%;
    height: 118px; }

  .warriorOverviewBoxesWrap .warriorOverviewSmallBox {
    margin-bottom: 20px; }

  .roadMapContainerInitLine .takeMeBtn {
    margin-left: 0;
    margin-top: 20px; }

  .owl-carousel .owl-stage-outer {
    width: 265px !important;
    margin: auto; }

  .roadMapCarouselContainer .owl-nav button.owl-prev {
    left: -15px; }

  .roadMapCarouselContainer .owl-nav button.owl-next {
    right: 0; }

  .attributeContainer .d-flex {
    flex-direction: column; }

  .attributeContainer .nav-pills {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0; }

  .attributeContainer .nav-pills .nav-link {
    padding: 15px 0px;
    width: 300px; }

  .attributeContainer .nav-pills .nav-link.active:before {
    background-size: cover; }

  .attributeContainer .tab-content {
    padding: 25px 0 0 0; }

  .houseRankingsContainer .houseRankingFilter .houseRankingTextField {
    min-width: 100%;
    margin-bottom: 15px;
    margin-top: 15px; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .homeContainerWithImg .container .homeRightSide h2 {
    font-size: 47px;
    line-height: 52px; }

  .splitMainHeading {
    font-size: 47px;
    line-height: 52px; }

  .aboutTeamMembers .aboutTeamMemberBox .teamMemberPic {
    width: 35%; }

  .aboutTeamMembers .aboutTeamMemberBox .teamMemberIntroText {
    width: 65%; }

  .roadMapContainerInitLine .takeMeBtn {
    margin-left: 0;
    margin-top: 16px; }

  .owl-carousel .owl-stage-outer {
    width: 90% !important;
    margin: auto; }

  .roadMapCarouselContainer .owl-nav button.owl-prev {
    left: -20px; }

  .roadMapCarouselContainer .owl-nav button.owl-next {
    right: 0; }

  .initBoxesWrap .col-md-4 {
    width: 50%; }

  .initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="true"] .initBoxMainImg:before {
    width: 336px;
    height: 125px;
    background-size: cover; }

  .initContainer .initCollapseBoxWrap .initBoxToggle .initBoxMainImg img {
    width: 336px;
    height: 125px; }

  .initContainer .initCollapseBoxWrap .initBoxToggle:hover .initBoxMainImg:before {
    width: 336px;
    height: 125px;
    background-size: cover; }

  .warriorOverviewBoxesWrap .col-md-3 {
    width: 50%; }

  .houseRankingsContainer .houseRankingFilter .houseRankingTextField {
    min-width: 430px; } }

/*# sourceMappingURL=app.css.map */
