.faqContainer
{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin:25px auto 0;
	.accordion
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		.accordion-item
		{
			border-radius: 0;
			background: transparent;
			margin-bottom: 8px;
			border:0;
			.accordion-header
			{
				border-radius: 0;
				background: transparent;
				border:0;
				.accordion-button
				{
					background: rgba(153, 237, 161, 0.47);
					border-radius: 20px;
					border:0;
					font-style: normal;
					font-weight: 400;
					font-size: 22px;
					line-height: 28px;
					color: #000000;
					font-family: var(--Blinker);
					padding:8px 18px;
					&:after
					{
						background: url(../img/arrow.png) no-repeat;
						border:0;
						width: 25px;
					    height: 25px;
					    background-size: cover;
					}
					&:focus
					{
						outline: 0;
						box-shadow: 0 0 0;
					}
					&:focus-visible
					{
						outline: 0;
						box-shadow: 0 0 0;
					}
					&:active
					{
						outline: 0;
						box-shadow: 0 0 0;
					}
				}
			}
			.accordion-collapse
			{
				background: rgba(231, 255, 233, 0.9);
				border-radius: 20px;
				padding:18px;
				.accordion-body
				{
					padding:0;
					p
					{
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 24px;
						color: #000000;
						margin-bottom: 15px;
					}
					strong
					{
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 24px;
						color: #000000;
						margin-bottom: 20px;
						display: block;
					}
					ol
					{
						li
						{
							ol
							{
								li
								{
									list-style: lower-alpha;
								}
							}
						}
					}
				}
			}
		}
	}
}