:root 
{
    --black: #000000;
    --green: #0C5F08;
    --linearGreen: linear-gradient(180deg, #6AFFFB 0%, #56B851 90.1%, #41A03C 100%);
    --Blinker: 'Blinker', sans-serif: 
}
body
{
    font-family: 'Blinker', sans-serif;
    background: rgb(255,200,60);
    background: linear-gradient(0deg, rgba(255,200,60,1) 0%, rgba(255,251,228,1) 75%);
}
.mainWrapper
{
    display: flex;
    width: 100%;
    background: url(../img/skyline-footer1.png) repeat-x;
    background-position: bottom;
    position: relative;
    flex-direction: column;
    padding-bottom: 120px;
    min-height: 100vh;
    &:after
    {
        position: absolute;
        content:'';
        bottom:0;
        left:0;
        background: url(../img/top-bar.png) repeat-x;
        width: 100%;
        height: 21px;
    }
    &.pad0
    {
        padding: 0 !important;
    }
}
.contentContainer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.generalGreenBtn
{
    background: linear-gradient(180deg, #9DEFED 0%, #99EDA1 89.06%, #56B851 100%);
    border-radius: 20px;
    font-family: var(--Blinker);
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    padding:7px 25px;
    border: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    &:hover
    {

    }
    &:active
    {

    }
    &:focus
    {

    }
}
.navbar-toggler
{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    top: 5px;
    &:focus
    {
        outline: 0;
        box-shadow: 0 0 0;
    }
    &:focus-visible
    {
        outline: 0;
        box-shadow: 0 0 0;
    }
    &:hover
    {
        outline: 0;
        box-shadow: 0 0 0;
    }
    &:active
    {
        outline: 0;
        box-shadow: 0 0 0;
    }
    .navbar-toggler-icon
    {
        background:url(../img/hamburger-icon.png) no-repeat;
        width: 30px;
        height:30px;
        display: block;
        background-size: cover;
    }
}
.mautoBtn
{
    margin:15px auto 0;
}
