.initContainer
{
	.topSmallHeading
	{
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 32px;
		color: #000000;
	}
	.initCollapseBoxWrap
	{
		padding-bottom: 20px;
		max-width: 356px;
		.initBoxToggle
		{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			opacity: 0.45;
			.initBoxMainImg
			{
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				position: relative;
				img
				{
					width:356px;
					height:132px;
				}
			}
			.initBoxText
			{
				background: linear-gradient(180deg, rgba(153, 237, 161, 0.47) 0%, rgba(153, 237, 161, 0.47) 100%);
				border-radius: 20px;
				margin:3px 0 0;
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				justify-content: center;
				align-items: center;
				p
				{
					margin:0;
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 25px;
					display: flex;
					align-items: center;
					text-align: center;
					color: #000000;
					padding:8px;
				}
			}
			&:hover
			{
				opacity: 1;
				&:before
				{

				}
				.initBoxMainImg
				{
					&:before
					{
						background: url(../img/init-outline.png);
						content:'';
						position: absolute;
						width: 100%;
						height:100%;
					}
				}
			}
		}
		.initBoxCollapseBody
		{
			.card
			{
				background: rgba(231, 255, 233, 0.47);
				padding:15px;
				box-shadow: 0 0 0;
				border:0;
				width: 100%;
				display: flex;
				flex-wrap:wrap;
				border-radius: 20px;
				margin-top:3px;
				p
				{
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 24px;
					text-align: center;
					color: #000000;
					margin:0 0 15px 0;
				}
			}
		}
	}
}

.initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="false"]
{
	
}
.initContainer .initCollapseBoxWrap .initBoxToggle[aria-expanded="true"]
{
	opacity: 1;
	.initBoxMainImg
	{
		&:before
		{
			background: url(../img/init-outline.png);
			content:'';
			position: absolute;
			width: 100%;
			height:100%;
		}
	}
}