.roadMapContainerInitLine
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin:10px 0 80px 0;
  align-items: center;
  span
  {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    span
    {
      color: #0C5F08;
      font-size: 26px;
    }
  }
  .takeMeBtn
  {
    background: linear-gradient(180deg, #9DEFED 0%, #99EDA1 89.06%, #56B851 100%);
    border-radius: 20px;
    font-family: var(--Blinker);
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    border: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 16px;
    padding:7px 25px;
    &:hover
    {

    }
    &:active
    {

    }
    &:focus
    {

    }
  }
}
.roadMapCarouselContainer
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding:0 0 0px 0;
  .owl-nav
  {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 1;
    button
    {
      &.owl-prev
      {
        left: -75px;
        position: absolute;
        top: 10px;
        width: 50px;
        z-index: 9999;
        margin:0;
        span
        {
          position: relative;
          color:transparent;
          text-indent: -3000px;
          &:before
          {
            content:'';
            background: url(../img/left-arrow.png) no-repeat;
            width: 21px;
            height:150px;
            position: absolute;
          }
        }
        &:hover
        {
          background: transparent;
        }
        &.disabled
        {
          display: none;
        }
      }
      &.owl-next
      {
        right: -60px;
        position: absolute;
        top: 10px;
        width: 50px;
        z-index: 9999;
        margin:0;
        span
        {
          position: relative;
          color:transparent;
          text-indent: -3000px;
          &:before
          {
            content:'';
            background: url(../img/right-arrow.png) no-repeat;
            width: 21px;
            height:150px;
            position: absolute;
          }
        }
        &.disabled
        {
          display: none;
        }
        &:hover
        {
          background: transparent;
        }
      }
    }
  }
}
.roadMapCarouselBox
{
  display: flex;
  flex-wrap: wrap;
  width: 265px;
  position: relative;
  height: 265px;
  &.roadMap1Img
  {
    background: url(../img/road-map1.png) no-repeat;
  }
  &.roadMap2Img
  {
    background: url(../img/road-map2.png) no-repeat;
  }
  &.roadMap3Img
  {
    background: url(../img/road-map3.png) no-repeat;
  }
  &.roadMap4Img
  {
    background: url(../img/road-map4.png) no-repeat;
  }
  &.roadMap5Img
  {
    background: url(../img/road-map5.png) no-repeat;
  }
  &.roadMap6Img
  {
    background: url(../img/road-map1.png) no-repeat;
  }
  &.roadMap7Img
  {
    background: url(../img/road-map6.png) no-repeat;
  }
  &:hover
  {
    &:before
    {
      content:'';
      background: url(../img/border.png) no-repeat;
      width: 100%;
      height:100%;
      position: absolute;
    }
  }
  .showCarouselBox
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding:30px;
    .tickImg
    {
      width: 35px;
      height: 35px;
      margin-bottom: 10px;
    }
    h4
    {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      font-family: var(--Blinker);
      margin:0;
    }
    h3
    {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      font-family: var(--Blinker);
      margin:0;
    }
  }
  .hideCarouselBoxContent
  {
    display: none;
    align-items: center;
    justify-content: center;
    &:before
    {
      content:'';
      background: url(../img/border.png) no-repeat;
      width: 100%;
      height:100%;
      position: absolute;
    }
    p
    {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: var(--Blinker);
      color: #000000;
      padding: 30px 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0;
    }
  }
}